.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0px 40px 40px 40px;
  margin-left: 220px;
  margin-top: 10vh;
}

.container {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--fg-color);
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

mat-form-field input {
  padding: 10px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--rounded-corners);
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: var(--rounded-corners) !important;
  border: 1px solid var(--mdc-outlined-text-field-outline-color) !important;
  background-color: white !important;
}

::ng-deep .mdc-text-field--disabled {
  border-radius: var(--rounded-corners) !important;
}
