<div class="wrapper">
    <div class="container">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            [value]="decryptedName"
            formControlName="username"
           
          />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Enter current password</mat-label>
          <input
            matInput
            formControlName="currentPassword"
            type="password"
            required
          />
          <mat-error *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
            Current password is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Enter new password</mat-label>
          <input
            matInput
            formControlName="newPassword"
            type="password"
            required
          />
          <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
            New password is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            type="password"
            required
          />
          <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">
            Confirm password is required and must match the new password
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
          Change Password
        </button>
      </form>
    </div>
  </div>
  