/* src/styles/custom-theme.css */

/* Define your color palette */
:root {
  --mat-primary: #08783f; /* Primary color */
  --mat-accent: orange; /* Secondary color */
  --mat-warn: red; /* Error color */
  --mat-background: white; /* Background color (optional) */
  --mat-text: gray; /* Text color for every component */
  --bg-color: #f5f5f5;
  --fg-color: #ffffff;
  /* --bg-color: #f0f0f0; */
  --rounded-corners: 8px;
  --topleft-rounded-corner: var(--rounded-corners) 0 0 0;
  --topright-rounded-corner: 0 var(--rounded-corners) 0 0;
  --bottomleft-rounded-corner: 0 0 0 var(--rounded-corners);
  --bottomright-rounded-corner: 0 0 var(--rounded-corners) 0;
  --top-rounded-corner: var(--rounded-corners) var(--rounded-corners) 0 0;
  --bottom-rounded-corner: 0 0 var(--rounded-corners) var(--rounded-corners);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0a8f4a;
  --bs-btn-border-color: #0a8f4a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #098043;
  --bs-btn-hover-border-color: #08783f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #08783f;
  --bs-btn-active-border-color: #108649;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #12854a;
  --bs-btn-disabled-border-color: #12854a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the primary color to Angular Material buttons */
.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-stroked-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: var(--mat-primary) !important;
  color: white; /* Text color for buttons */
}

.mat-raised-button.mat-primary:hover,
.mat-flat-button.mat-primary:hover,
.mat-stroked-button.mat-primary:hover {
  background-color: darkgreen !important; /* Darker shade on hover */
}

/* Apply the secondary color */
.mat-accent {
  color: var(--mat-accent) !important;
}

.mat-raised-button.mat-accent,
.mat-flat-button.mat-accent,
.mat-stroked-button.mat-accent {
  background-color: var(--mat-accent) !important;
  color: white; /* Adjust text color for contrast */
}

/* Apply the error color */
.mat-warn {
  color: var(--mat-warn) !important;
}

.mat-form-field.mat-error .mat-form-field-label,
.mat-error {
  color: var(--mat-warn) !important;
}

/* Customize background and text colors */
.mat-app-background {
  background-color: var(--mat-background);
}

.mat-form-field .mat-form-field-label,
.mat-form-field-underline,
.mat-form-field-ripple,
.mat-toolbar,
.mat-card,
.mat-list-item,
.mat-menu-item,
.mat-tab-label,
.mat-expansion-panel-header {
  color: var(--mat-text) !important; /* Text color for components */
}

.mat-toolbar {
  background-color: var(--mat-primary) !important;
}

/* Ensure consistent styling for form fields and other components */
.mat-form-field .mat-form-field-label,
.mat-form-field-underline,
.mat-form-field-ripple {
  color: var(--mat-primary) !important;
}

.mat-form-field.mat-error .mat-form-field-label,
.mat-form-field.mat-error .mat-form-field-underline,
.mat-form-field.mat-error .mat-form-field-ripple {
  color: var(--mat-warn) !important;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 100%;
  }
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #08783f;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-label-text-color: #08783f;
  --mat-tab-header-active-ripple-color: #08783f;
  --mat-tab-header-inactive-ripple-color: #08783f;
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: #08783f;
  --mat-tab-header-active-hover-label-text-color: #08783f;
  --mat-tab-header-active-focus-indicator-color: #08783f;
  --mat-tab-header-active-hover-indicator-color: #08783f;
}

.mat-mdc-tab .mdc-tab__ripple::before {
  border-radius: var(--top-rounded-corner);
}

.mat-mdc-tab-body {
  &:first-child {
    & .mat-mdc-tab-body-content {
      border-radius: 0 var(--rounded-corners) var(--rounded-corners)
        var(--rounded-corners);
    }
  }
  &:last-child {
    & .mat-mdc-tab-body-content {
      border-radius: var(--rounded-corners) 0 var(--rounded-corners)
        var(--rounded-corners);
    }
  }
  & .mat-mdc-tab-body-content {
    border-radius: var(--rounded-corners);
  }
}

html {
  --mdc-filled-text-field-caret-color: #08783f;
  --mdc-filled-text-field-focus-active-indicator-color: #08783f;
  --mdc-filled-text-field-focus-label-text-color: #08783fde;
  --mdc-filled-text-field-container-color: whitesmoke;
  --mdc-filled-text-field-disabled-container-color: #fafafa;
  --mdc-filled-text-field-label-text-color: rgba(0, 0, 0, 0.6);
  --mdc-filled-text-field-disabled-label-text-color: rgba(0, 0, 0, 0.38);
  --mdc-filled-text-field-input-text-color: rgba(0, 0, 0, 0.87);
  --mdc-filled-text-field-disabled-input-text-color: rgba(0, 0, 0, 0.38);
  --mdc-filled-text-field-input-text-placeholder-color: rgba(0, 0, 0, 0.6);
  --mdc-filled-text-field-error-focus-label-text-color: #f44336;
  --mdc-filled-text-field-error-label-text-color: #f44336;
  --mdc-filled-text-field-error-caret-color: #f44336;
  --mdc-filled-text-field-active-indicator-color: rgba(0, 0, 0, 0.42);
  --mdc-filled-text-field-disabled-active-indicator-color: rgba(0, 0, 0, 0.06);
  --mdc-filled-text-field-hover-active-indicator-color: rgba(0, 0, 0, 0.87);
  --mdc-filled-text-field-error-active-indicator-color: #f44336;
  --mdc-filled-text-field-error-focus-active-indicator-color: #f44336;
  --mdc-filled-text-field-error-hover-active-indicator-color: #f44336;
  --mdc-outlined-text-field-caret-color: #08783f;
  --mdc-outlined-text-field-focus-outline-color: #08783f;
  --mdc-outlined-text-field-focus-label-text-color: #08783fde;
  --mdc-outlined-text-field-label-text-color: rgba(0, 0, 0, 0.6);
  --mdc-outlined-text-field-disabled-label-text-color: rgba(0, 0, 0, 0.38);
  --mdc-outlined-text-field-input-text-color: rgba(0, 0, 0, 0.87);
  --mdc-outlined-text-field-disabled-input-text-color: rgba(0, 0, 0, 0.38);
  --mdc-outlined-text-field-input-text-placeholder-color: rgba(0, 0, 0, 0.6);
  --mdc-outlined-text-field-error-caret-color: #f44336;
  --mdc-outlined-text-field-error-focus-label-text-color: #f44336;
  --mdc-outlined-text-field-error-label-text-color: #f44336;
  --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.38);
  --mdc-outlined-text-field-disabled-outline-color: rgba(0, 0, 0, 0.06);
  --mdc-outlined-text-field-hover-outline-color: rgba(0, 0, 0, 0.87);
  --mdc-outlined-text-field-error-focus-outline-color: #f44336;
  --mdc-outlined-text-field-error-hover-outline-color: #f44336;
  --mdc-outlined-text-field-error-outline-color: #f44336;
  --mat-form-field-disabled-input-text-placeholder-color: rgba(0, 0, 0, 0.38);
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #08783f;
  --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0.12;
  opacity: 0;
}

html {
  --mat-datepicker-calendar-date-selected-state-text-color: white;
  --mat-datepicker-calendar-date-selected-state-background-color: #08783f;
  --mat-datepicker-calendar-date-selected-disabled-state-background-color: rgba(
    63,
    81,
    181,
    0.4
  );
  --mat-datepicker-calendar-date-today-selected-state-outline-color: white;
  --mat-datepicker-calendar-date-focus-state-background-color: rgba(
    63,
    81,
    181,
    0.3
  );
  --mat-datepicker-calendar-date-hover-state-background-color: rgba(
    63,
    81,
    181,
    0.3
  );
  --mat-datepicker-toggle-active-state-icon-color: #08783f;
  --mat-datepicker-calendar-date-in-range-state-background-color: rgba(
    63,
    81,
    181,
    0.2
  );
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: rgba(
    249,
    171,
    0,
    0.2
  );
  --mat-datepicker-calendar-date-in-overlap-range-state-background-color: #a8dab5;
  --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color: #46a35e;
  --mat-datepicker-toggle-icon-color: rgba(0, 0, 0, 0.54);
  --mat-datepicker-calendar-body-label-text-color: rgba(0, 0, 0, 0.54);
  --mat-datepicker-calendar-period-button-icon-color: rgba(0, 0, 0, 0.54);
  --mat-datepicker-calendar-navigation-button-icon-color: rgba(0, 0, 0, 0.54);
  --mat-datepicker-calendar-header-divider-color: rgba(0, 0, 0, 0.12);
  --mat-datepicker-calendar-header-text-color: rgba(0, 0, 0, 0.54);
  --mat-datepicker-calendar-date-today-outline-color: rgba(0, 0, 0, 0.38);
  --mat-datepicker-calendar-date-today-disabled-state-outline-color: rgba(
    0,
    0,
    0,
    0.18
  );
  --mat-datepicker-calendar-date-text-color: rgba(0, 0, 0, 0.87);
  --mat-datepicker-calendar-date-outline-color: transparent;
  --mat-datepicker-calendar-date-disabled-state-text-color: rgba(0, 0, 0, 0.38);
  --mat-datepicker-calendar-date-preview-state-outline-color: rgba(
    0,
    0,
    0,
    0.24
  );
  --mat-datepicker-range-input-separator-color: rgba(0, 0, 0, 0.87);
  --mat-datepicker-range-input-disabled-state-separator-color: rgba(
    0,
    0,
    0,
    0.38
  );
  --mat-datepicker-range-input-disabled-state-text-color: rgba(0, 0, 0, 0.38);
  --mat-datepicker-calendar-container-background-color: white;
  --mat-datepicker-calendar-container-text-color: rgba(0, 0, 0, 0.87);
}

html {
  --mat-option-selected-state-label-text-color: #08783f;
  --mat-option-label-text-color: rgba(0, 0, 0, 0.87);
  --mat-option-hover-state-layer-color: rgba(0, 0, 0, 0.04);
  --mat-option-focus-state-layer-color: rgba(0, 0, 0, 0.04);
  --mat-option-selected-state-layer-color: rgba(0, 0, 0, 0.04);
}

html {
  --mat-select-panel-background-color: white;
  --mat-select-enabled-trigger-text-color: rgba(0, 0, 0, 0.87);
  --mat-select-disabled-trigger-text-color: rgba(0, 0, 0, 0.38);
  --mat-select-placeholder-text-color: rgba(0, 0, 0, 0.6);
  --mat-select-enabled-arrow-color: rgba(0, 0, 0, 0.54);
  --mat-select-disabled-arrow-color: rgba(0, 0, 0, 0.38);
  --mat-select-focused-arrow-color: rgba(8, 120, 63, 1);
  --mat-select-invalid-arrow-color: rgba(244, 67, 54, 0.87);
}

.mdc-tab--active {
  background-color: white !important;
}
.mdc-tab {
  border-radius: var(--top-rounded-corner);
}

.mat-ripple {
  border-radius: var(--top-rounded-corner);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.inputTypeFile {
  border: 1px solid var(--mdc-outlined-text-field-outline-color);
  border-radius: var(--rounded-corners);
  overflow: hidden;
  width: 100%;
  margin-top: 0 !important;

  &::file-selector-button {
    background-color: var(--mat-primary);
    color: white;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.inputTypeFile2 {
  border: 1px solid var(--mdc-outlined-text-field-outline-color);
  border-radius: var(--rounded-corners);
  overflow: hidden;
  width: 100%;
  margin-top: 0 !important;

  &::file-selector-button {
    background-color: var(--mat-primary);
    color: white;
    border: none;
    padding: 18px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.mat-mdc-tab-group {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--rounded-corners);
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: var(--rounded-corners) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-left: 32px !important;
  }
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--mat-primary) !important;
}
